<footer class="footer">
    <div class="footer-content">
      <div class="footer-info">
        <p>dev by Yael</p>
        <ul class="social-links">
          <li>
            <a href="https://www.youtube.com/@YaelFrankDev" target="_blank" class="social-link">
              <span class="material-icons">video_library</span>
              YouTube
            </a>
          </li>
          <li>
            <a href="mailto:your-email@example.com" class="social-link">
              <span class="material-icons">email</span>
              Email
            </a>
          </li>
          <li>
            <a href="tel:+972556720338" class="social-link">
              <span class="material-icons">phone</span>
              Phone
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  