<div class="editor-container text-box">
    <mat-form-field appearance="fill" class="language-dropdown">
        <mat-label>Choose Language</mat-label>
        <mat-select [(ngModel)]="selectedLanguage" (selectionChange)="onLanguageChange()">
      
          <!-- אייקון שמופיע גם כשהרשימה סגורה -->
          <mat-select-trigger>
            <img
              [src]="getSelectedLanguageIcon()"
              width="20"
              style="margin-right: 8px;"
            />
            {{ getSelectedLanguageLabel() }}
          </mat-select-trigger>
      
          <!-- אפשרויות לבחירה -->
          <mat-option *ngFor="let lang of languages" [value]="lang.value">
            <img [src]="lang.icon" width="20" style="margin-right: 8px;" />
            {{ lang.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      
      <div class="editor-wrapper">
        <div class="language-badge">
          <img [src]="getSelectedLanguageIcon()" width="18" />
          {{ getSelectedLanguageLabel() }}
        </div>
      
        <ngx-codemirror
          [(ngModel)]="code"
          [options]="editorOptions"
          (ngModelChange)="codeChanged.emit($event)">
        </ngx-codemirror>
      </div>
      
  
    <div class="editor-buttons">
      <button mat-raised-button color="primary" (click)="runCode()">▶️ Run</button>
      <button mat-raised-button color="accent" (click)="onSave()">💾 Save & Close</button>
    </div>
  
    <h3>Output:</h3>
    <textarea [(ngModel)]="output" readonly rows="10" cols="60"></textarea>
  </div>
  