<div class="editor-container text-box">
      <mat-form-field appearance="fill" class="language-dropdown">
        <mat-label>Choose Language</mat-label>
        <mat-select [(ngModel)]="selectedLanguage" (selectionChange)="onLanguageChange()">
          <mat-option value="javascript">JavaScript</mat-option>
          <mat-option value="python">Python</mat-option>
          <mat-option value="csharp">C#</mat-option>
        </mat-select>
      </mat-form-field>
  
    <ngx-codemirror
      [(ngModel)]="code"
      [options]="editorOptions"
      (ngModelChange)="codeChanged.emit($event)">
    </ngx-codemirror>
  
    <div class="editor-buttons">
      <button mat-raised-button color="primary" (click)="runCode()">▶️ Run</button>
      <button mat-raised-button color="accent" (click)="onSave()">💾 Save & Close</button>
    </div>
  
    <h3>Output:</h3>
    <textarea [(ngModel)]="output" readonly rows="10" cols="60"></textarea>
  </div>
  