.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: linear-gradient(90deg, #000000 0%, #00214d 50%, #164a6c 100%);
  color: white;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 20px;
  position: relative;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center; /* אל תוודא שהאייקון והטקסט יהיו במרכז */
  transition: color 0.3s, transform 0.3s;
  position: relative;
}

.con-link{
  cursor: pointer;
}
.menu  i {
  font-size: 15px; /* גודל האייקונים */
  margin-left: 8px; /* מרווח בין הטקסט לאייקון */
}
.menu i {
  font-size: 14px; /* גודל האייקונים */
  margin-left: 8px; /* מרווח בין הטקסט לאייקון */
  background-image: linear-gradient(130deg, #006eff, #e91e63); /* גרדיאנט בצבעים סגול, כחול, ורוד */
  -webkit-background-clip: text; /* חשוב כדי שהגרדיאנט יופיע על האייקון */
  color: transparent; /* האייקון יהיה שקוף כדי לראות את הגרדיאנט */
  padding: 5px; /* רווח סביב האייקון */
  border-radius: 50%; /* אם רוצים שהאייקון יהיה מעוגל */
}

.menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background: linear-gradient(90deg, #ff6f61, #382baf);
  transition: width 0.3s ease;
}



.menu a:hover {
  color: #c7c2c2;
}

.menu a:hover::after {
  width: 100%;
}

.credit {
  font-size: 14px;
  color: white;
  font-style: italic;
  margin-right: 30px;
}

body {
  padding-top: 70px;
  font-family: Arial, sans-serif;
}

.credit-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.gradient-text {
  background: linear-gradient(45deg, #ff6f61, #382baf, #56ccf2);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 3s infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* עדכון ל- Responsiveness */
@media (max-width: 768px) {
  .gradient-text{
    font-size: 22px;
  }
  .menu {
    display: none;
    width: 100%;
    background-color: #00214d;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .menu.open {
    display: flex;
  }

  .menu li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }

  .menu-toggle:focus {
    outline: none;
  }

  .hamburger-icon {
    display: block;
  }
  .credit-image {
    width: 35px;
    height: 35px;
  margin-left: 90%;
margin-top: 10%;}
}

@media (min-width: 769px) {
  .menu {
    display: flex;
  }

  .menu-toggle {
    display: none;
  }
}

@media (min-width: 1700px) {
  .topbar {

    height: 120px;

  }

  .menu a {

    font-size: 28px;

  }


}