.about_all_page {
    width: 100%;
    background-image: url('../../assets/Images/others.jpg'); /* התמונה נשארת */
    background-size: cover;
    background-position: center;
    text-align: center;
}

.about-container {
    margin: 50px auto;
    max-width: 100%;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.384); /* לבן עם שקיפות */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    direction: rtl;
    font-family: 'Arial', sans-serif;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
    align-items: center;
}

.about-text {
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.about-container h1 {
    font-size: 32px;
    color: #1a2a8f; /* כחול כהה */
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.about-container h2 {
    font-size: 24px;
    color: #5e2a92; /* סגלגל */
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: 600;
}

.about-container p {
    font-size: 19px;
    color: #2e3a8c; /* כחול */
    line-height: 1.8;
    margin-bottom: 5px;
}

.about-container ul {
    list-style-type: none;
    padding: 0;
}

.about-container ul li {
    margin-bottom: 5px;
    font-size: 19px;
    color: #34288f; /* כחול כהה יותר */
    line-height: 1.6;
}

.about-container a {
    color: #d1198c; /* ורוד כהה */
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.about-container a:hover {
    color: #8a2abf; /* סגלגל בהיר */
    text-decoration: underline;
}

.about-container p a {
    font-weight: bold;
}

.gradient-text {
    background: linear-gradient(45deg, #1a2a8f, #8a2abf, #d1198c); /* כחול לסגלגל לורוד */
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 3s infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 768px) {
    .about-container {
        padding: 20px;
        margin: 20px;
        max-width: 90%;
    }
    .about-container h1 {
        font-size: 28px;
    }
    .about-container h2 {
        font-size: 22px;
    }
    .about-container p {
        font-size: 16px;
    }
}
