.about_all_page {
    width: 100%;
    background-image: url('../../assets/Images/others.jpg');  /* תמונה ברקע */
    background-size: cover;
    background-position: center;
    text-align: center;
    
}


.about-container {
    margin: 50px auto;
    max-width: 100%;
    padding: 40px;
    background-color: #f9f9f94b;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    direction: rtl;
    font-family: 'Arial', sans-serif;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
    align-items: center;
}
.about-text{
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.about-container h1 {
    font-size: 32px;
    color: #000158;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.about-container h2 {
    font-size: 24px;
    color: #123253;
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: 600;
}

.about-container p {
    font-size: 19px;
    color: #141249;
    line-height: 1.8;
    margin-bottom: 5px;
}

.about-container ul {
    list-style-type: none;
    padding: 0;
}

.about-container ul li {
    margin-bottom: 5px;
    font-size: 19px;
    color: #08233e;
    line-height: 1.6;
}

.about-container a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.about-container a:hover {
    color: #1a53db;
    text-decoration: underline;
}

.about-container p a {
    font-weight: bold;

}

@media (max-width: 768px) {
    .about-container {
        padding: 20px;
        margin: 20px;
        max-width: 90%; /* במכשירים קטנים יותר, להקטין את הרוחב */
        background-size: cover; /* להתאים את התמונה בגודל אוטומטי */
    }
    .about-container h1 {
        font-size: 28px;
    }
    .about-container h2 {
        font-size: 22px;
    }
    .about-container p {
        font-size: 16px;
    }
}

.gradient-text {
    background: linear-gradient(45deg, #ff1500, #12048f, #42788a);
    background-size: 200% 200%; /* מאפשר לגרדיאנט לזוז */
    -webkit-background-clip: text; /* חיתוך לפי טקסט */
    -webkit-text-fill-color: transparent; /* הסתרת הטקסט עצמו */
    animation: gradient-animation 3s infinite; /* אנימציה מתמשכת */
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

  
  
  