<div class="about_all_page">
  <div class="about-container">
    <div class="about-header">
    </div>
    <div class="about-text">
      <h1>אודות</h1>

      <p>
        אני יעל פרנק, מפתחת תוכנה עם ניסיון במגוון טכנולוגיות ותחומים בתכנות. כאן תוכלו למצוא תכנים שמיועדים לעזור לכם ללמוד ולהתמקצע בתכנות, תוך פתרון בעיות אלגוריתמיות, טכניקות תכנות מתקדמות, והסברים על מושגים חשובים בעולם המחשבים.
      </p>
      <h2>מה תוכלו למצוא כאן?</h2>
      <ul>
        <li><strong>פתרונות לבעיות אלגוריתמיות:</strong> הסברים צעד-אחר-צעד על בעיות קלאסיות ומתקדמות, עם דוגמאות קוד בשפות תכנות שונות כמו Python ו-C#.</li>
        <li><strong>מדריכים בתכנות:</strong> איך לכתוב קוד קריא ויעיל, טכניקות מתקדמות לייעול הקוד, והבנת מושגים חשובים בתכנות.</li>
        <li><strong>טיפים לפרויקטים:</strong> איך לגשת לבעיות מורכבות, לשפר פרויקטים קיימים, ולהתקדם כמתכנתים מקצועיים.</li>
      </ul>
      <h2>החזון שלי</h2>
      <p>
        המטרה שלי היא להראות לכם שתכנות זה לא רק מקצוע – אלא גם אמנות! אני מאמינה שכל אחד יכול ללמוד ולהתמקצע בתכנות אם רק יקבל את הכלים הנכונים והמדריכים המתאימים.
      </p>
      <h2>צור קשר</h2>
      <div class="contact-info">
        <p>mail: <a href="mailto:{{ emailAddress }}">{{ emailAddress }}</a></p>
        <p>phone: <a href="tel:+972556720338">055-6720338</a></p>
      </div>
    </div>
  </div>
</div>
