<div class="video-container">
  <!-- כפתור חזרה עם חץ -->
  <button class="back-button" (click)="goBack()">
    <i class="fas fa-arrow-left"></i> חזור
  </button>

  <!-- לודינג ספינר -->
  <div class="loader"></div>

  <!-- נגן ה-YouTube -->
  <iframe 
    width="1074" 
    height="604" 
    [src]="videoUrl" 
    title="Video Player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen
    (load)="onVideoLoad()">
  </iframe>

  <div class="video-actions">
    <!-- כפתור Like -->
    <a 
      [href]="'https://www.youtube.com/watch?v=' + videoId" 
      target="_blank" 
      class="action-button like-button">
      👍 Like on YouTube
    </a>
  
    <!-- כפתור Subscribe -->
    <a 
      href="https://www.youtube.com/channel/UCvixVATiNSxyxKFpeH-6klQ?sub_confirmation=1" 
      target="_blank" 
      class="action-button subscribe-button">
      🔔 Subscribe to Channel
    </a>
  </div>
  

</div>
