<div class="race-container">
  <div class="text-container">
    <h1>
      <span class="mat-icon-wrapper"><mat-icon>rocket_launch</mat-icon></span> ברוכים הבאים לאתגר הקידוד הגדול!
    </h1>
    <p>
      האתגר הזה נועד למי שאוהב לפתור בעיות, לחשוב מחוץ לקופסה, ולשפר את יכולות התכנות שלו.  
      כאן תמצאו מגוון שאלות אלגוריתמיות ברמות קושי שונות, וכל אחת מהן תעזור לכם לפתח חשיבה לוגית, יעילות קוד, ויכולות פתרון בעיות.
    </p>

    <h2>
      <span class="mat-icon-wrapper"><mat-icon>help_outline</mat-icon></span> איך זה עובד?
    </h2>
    <p>
      <span class="mat-icon-wrapper"><mat-icon>code</mat-icon></span>  בכל שאלה עליכם למצוא פתרון אלגוריתמי נכון ויעיל.<br>
      <span class="mat-icon-wrapper"><mat-icon>calendar_today</mat-icon></span>  ניתן להגיש פתרונות עד תאריך היעד, ולאחר מכן הם ייבדקו.<br>
      <span class="mat-icon-wrapper"><mat-icon>bar_chart</mat-icon></span>  השאלות מדורגות לפי רמת קושי, ופתרון חכם במיוחד יכול להוביל אתכם לראש הטבלה!
    </p>

    <h2>
      <span class="mat-icon-wrapper"><mat-icon>emoji_events</mat-icon></span> תחרות ופרסום פתרונות מצטיינים!
    </h2>
    <p>
      <span class="mat-icon-wrapper"><mat-icon>emoji_events</mat-icon></span> הפתרונות היעילים והחכמים ביותר ייבחרו ויפורסמו עם קרדיט לפותר!
      <br>
      <span class="mat-icon-wrapper"><mat-icon>star</mat-icon></span> - זו ההזדמנות שלכם להוכיח את עצמכם, לבלוט, ולהראות לכולם איך כותבים קוד מנצח!  
    </p>

    <h2>
      <span class="mat-icon-wrapper"><mat-icon>school</mat-icon></span> מה תרוויחו?
    </h2>
    <p>
      <span class="mat-icon-wrapper"><mat-icon>lightbulb</mat-icon></span>  שיפור החשיבה האלגוריתמית והיכולת לכתוב קוד יעיל יותר.<br>
      <span class="mat-icon-wrapper"><mat-icon>work</mat-icon></span>  התנסות בבעיות אמיתיות שמתכנתים פותרים ביום-יום.<br>
      <span class="mat-icon-wrapper"><mat-icon>check_circle</mat-icon></span> אתגר מהנה ומספק שידרבן אתכם ללמוד ולהשתפר!
    </p>
  </div>

  <h2>
    <span class="mat-icon-wrapper"><mat-icon>arrow_downward</mat-icon></span> בחרו שאלה והתחילו לפתור!
  </h2>

  <div class="cards-container">
    <div *ngFor="let challenge of challenges" class="challenge-card">
      <h2>{{ challenge.title }}</h2>
      <p><strong>Difficulty:</strong> {{ challenge.difficulty }}</p>
      <p>{{ challenge.shortDescription }}</p>
      <button mat-raised-button color="primary" [routerLink]="['/coding-race', challenge.id]" fragment="top" (click)="scrollToTop()">
        <span class="mat-icon-wrapper"><mat-icon>search</mat-icon></span> לאתגר...
      </button>
      <button class="solutions-btn" *ngIf="challenge.suggestedSolutions && challenge.suggestedSolutions.length > 0" mat-button [routerLink]="['/solution', challenge.id]" (click)="scrollToTop()">
        <span class="mat-icon-wrapper"><mat-icon>assignment_turned_in</mat-icon></span> צפיה בפתרונות
      </button>
    </div>
  </div>
</div>
