
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(135deg, #000000, #0b1233, #1c4063, #38567a);
    color: #ecf0f1; /* צבע טקסט בהיר כדי להחזיר את הקונטרסט */
  }
  html {
    scroll-behavior: smooth; /* יגרום לגלילה להיות חלקה */
  }
  