<div class="home-container">
  <!-- טקסט שיתקדם -->
  <div class="scroll-container">
    <p class="text-scroll">
      ברוכים הבאים! כאן תמצאו פתרונות לבעיות אלגוריתמיות, הסברים חשובים בהנדסת תוכנה, וטיפים שיעזרו לכם לפתח את כישורי הקוד שלכם! בנוסף, תוכלו ללמוד על טכניקות מתקדמות, להתנסות במגוון אתגרים ולשפר את היכולת לפתור בעיות בצורה יצירתית ומעמיקה. כל אחד יכול למצוא כאן את החומרים שמתאימים לרמה האישית שלו, ולצאת עם כלים חדשים לכל תחום בעולם ההנדסת תוכנה! בחרו את הנושא שמעניין אתכם, התחילו ללמוד ואל תפסיקו להתקדם!
    </p>
  </div>
  
  <!-- מידע נוסף למעלה -->
  
  <div class="text">באתר זה תוכל/י למצוא מגוון נושאים מעניינים שיכולים לעזור לך להעמיק בתחום ההנדסת תוכנה, לפתור בעיות אלגוריתמיות וללמוד טכניקות חדשות בתחום. בחר/י נושא שמעניין אותך והתחל/י ללמוד
  </div>
  <div class="categories-grid">
    <div *ngFor="let category of categories" class="category-card" (click)="onCategorySelect(category.name)">
      <mat-card class="category-card-content">
        <mat-card-header>
          <img mat-card-image [src]="category.image" alt="{{ category.name }}" class="category-thumbnail"/>
        </mat-card-header>
        <mat-card-title class="category-card-title">{{ category.name }}</mat-card-title>
        <mat-card-content>
          <p>{{ category.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <app-quotes></app-quotes> <!-- הצגת הציטוטים כאן -->

</div>
